
<header>
    <div class="brand" routerLink="bizholic">BizHolic</div>
  
    <i class="fas fa-map-marker" id="Deliver1">Deliver Here</i>
    <div class="search-box">
      <input type="text" placeholder="Search" />
      <button>Search</button>
    </div>
    <div class="supplier-icon">
      <i class="fas fa-store"> Become a Supplier</i>
    </div>
    <div class="notification-icon">
      <i class="fas fa-bell"> Notification</i>
    </div>
    <div class="cart-icon">
      <i class="fas fa-shopping-cart">Cart</i>
    </div>
    <div class="profile-icon">
      <i class="fas fa-user">Profile</i>
    </div>
  </header>