
/* Header Styles */

header {
    background-color: #155697;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.deliver-here {
    font-weight: bold;
    cursor: pointer;
}

.search-box {
    display: flex;
    align-items: center;

}

input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 3px;
    margin-right: 5px;
}

button {
    background-color: #ff5722;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}
#Deliver1,
.notification-icon,
.cart-icon,
.profile-icon,
.supplier-icon {

    font-weight: bold;
    cursor: pointer;
}
