
<footer class="footer">
    <div class="footer-links">
      <a href="About">About</a>
      <a href="Help">Help</a>
      <a href="Contact">Contact</a>
      <a href="Terms">Terms</a>
      <a href="Privacy & Policy">Privacy & Policy</a>
    </div><br>
    <div class="social-links">
      <a href="#"><i class="fab fa-whatsapp"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
  </footer>