<div class="product-list">
    <h1>All Product List</h1>
    <p class="p-message">{{productMessage}}</p>
    <table>
        <thead>
            <tr>
                <th>ProductImagePath1</th>
                <th>ProductTitle</th>
                <th>ProductPrice</th>
                <th>ProductColor</th>
                <th>ProductType</th>
                <th>ProductSpecification</th>
                <th>ProductDescription</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of productList">
                <td><img src="{{item.ProductImagePath1}}"></td>
                <td>{{item.ProductTitle}}</td>
                <td>{{item.ProductPrice}}</td>
                <td>{{ProductColor}}</td>
                <td>{{item.ProductType}}</td>
                <td>{{item.ProductSpecification}}</td>
                <td>{{item.ProductDescription}}</td>
                <td><fa-icon (click)="deleteProduct(item.ProductID)" [icon]="icon"></fa-icon>
                    <a class="adjust-update-link" routerLink="/seller-update-product/{{item.ProductID}}"><fa-icon [icon]="editIcon"></fa-icon></a>
                </td>

            </tr>
        </tbody>
    </table>
</div>