<div class="verify-otp">
  <img class="myImg" src="assets/forgot-password.png" height="150px" width="230px">
  <h2>Verify OTP !!!</h2>
  <form [formGroup]="verifyOtpForm" (ngSubmit)="verifyOtp()" class="common-form">
    <div>
      <input class="form-input" type="text" formControlName="EnteredOTP" placeholder="Enter OTP" />
      <div class="error-p" *ngIf="verifyOtpForm.get('EnteredOTP')?.errors && verifyOtpForm.get('EnteredOTP')?.touched">
        Please Enter Valid OTP.
      </div>
    </div>
   
    <div class="message" *ngIf="successMessage" style="color: green;">
      {{ successMessage }}
    </div>
    <div class="resend-otp">
      <span>
        <a routerLink="/verify-otp" (click)="resendOtp()">Resend OTP</a>
      </span>
    </div>
    
    <button class="form-button" type="submit" (submit)="verifyOtp()">Verify OTP</button>
  </form>
</div> 

